modules/api/invoiceEmail_Pdf.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- The way to call the services invoiceEmail and invoicePdf -->
<!-- authentication - send in header X-API-KEY -->
<!-- PUT/invoiceEmail/{invoiceId} Sends an existing invoice via mail to the address of the biller: http:\\simpleinvoices.org/api/invoiceEmail/1 -->
<!-- GET/invoicePdf/{invoiceId} Returns a single invoice as PDF identified by invoiceId : http:\\simpleinvoices.org/api/invoicePdf/1 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="invoice_email">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email_notes" type="xs:string" />
        <xs:element name="email_from" type="xs:string" />
        <xs:element name="email_from_name" type="xs:string" />
        <xs:element minOccurs="0" name="email_bcc" type="xs:string" />
        <xs:element name="email_subject" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>